
@using MVConlineshopping.Models
@using PagedList.Mvc
@model  PagedList.PagedList<MVConlineshopping.Models.Article> 
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<script src="../../Scripts/jquery-2.1.1.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap-modal.js"></script>

<div class="row col-md-2"></div>
<div  class="col-md-10">
    <!-- container -->

    <!-- container -->
</div>
<!-- /MAIN HEADER -->
   
<!-- /HEADER -->

<div class="col-md-3">


    <div class="list-group" id="list-tab" role="tablist">
        <a href="#" class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" role="tab" aria-controls="home">Gestion des Article</a>
        <a href="~/Admin/index" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">Liste des Article</a>
        <a href="~/Admin/create" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">nouveau Article</a>

    </div>
    <div class="list-group" id="list-tab" role="tablist">
        <a href="#" class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" role="tab" aria-controls="home">Gestion des Marques</a>
        <a href="~/Admin/index" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">Liste des Marque</a>
        <a href="~/Marques/create" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">nouvelle Marque</a>

    </div>
    <div class="list-group" id="list-tab" role="tablist">
        <a href="#" class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" role="tab" aria-controls="home">Gestion des Categories</a>
        <a href="~/Admin/index" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">Liste des Categories</a>
        <a href="~/Categories/create" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">nouvelle Categorie</a>

    </div>
    <div class="list-group" id="list-tab" role="tablist">
        <a href="" class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" role="tab" aria-controls="home">Gestion de client</a>
        @foreach (var item in ViewData["almarques"] as IList<Marque>)
        {
            <a href="~/Articles/ViewByMarque?marqueName=@item.name" class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">@item.name</a>
        }
    </div>
</div>
    <div class="col-md-9">
    <div class="col-md-12">

        <!-- tab -->
        <div class="products-tabs ">



            @{
                ViewBag.Title = "Myorder";
                Layout = "~/Views/Shared/_Layout.cshtml";
            }


            



            @if (Model != null)
            {<div class="row ">
            <table class="table">
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.name)*@ Nom
                    </th>
                    <th>
                        Descreption
                    </th>
                    <th>
                        Prix
                    </th>
                    <th>
                        Marque
                    </th>
                    <th>
                        Catégorie
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Action
                    </th>
                    <th></th>
                </tr>



                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <h5 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.name)</a></h5>
                        </td>
                        <td>
                            <h5 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.Description)</a></h5>
                        </td>
                        <td>
                            <h5 class="product-price">@Html.DisplayFor(modelItem => item.price) <del class="product-old-price">@Html.DisplayFor(modelItem => item.oldeprice)</del></h5>

                        </td>
                        <td>
                            <h5 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.Marque.name)</a></h5>
                        </td>
                        <td>
                            <h5 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.Category.name)</a></h5>
                        </td>
                        <td>
                            <img style="width:60px;height:60px" src="data:image;base64,@System.Convert.ToBase64String(item.image)" alt="" />
                        </td>






                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ArticleID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ArticleID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ArticleID })
                        </td>
                    </tr>
                }
            </table>
        </div>

            }


                <div class="pagination" style="margin-left: 400px">
                    @* Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount *@  @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>

                    <div class="modal" id="exampleModal" tabindex="1000" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      

                    </div>
                </div>
            </div>
        </div>


                        <script>
                            $(document).ready(function () {
                                $('#Myorder').on('click', function () {
                                    var getName = $('.divName').html();
                                    $.ajax({
                                        type: 'POST',
                                        contentType: 'application/json; charset=utf-8',
                                        url: '/AddToCart/Myorder',

                                        success: function (data) {
                                            $('#exampleModal').html(data);
                                            $('#exampleModal').modal({
                                                backdrop: false
                                            });
                                        },
                                        error: function (data) {
                                            alert(data);
                                        }
                                    });
                                });
                            });
                        </script>
